<!-- templates/404.html -->

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>whoops!</title>
  </head>
  <body>
    <div style="width:630px; height:130px; background:white; border:2px solid; color:#FFA826; border-radius:6px; margin: auto; position:absolute; top:0; left:0; right:0; bottom:0; font-family:arial;">
      <div style="text-align:center; height:40px; background:#FFA826; color:white; padding:1px 15px 10px;">
        <h2 style="margin-top:10px;">
          Yes, that's very h4x of you; good boy! (400)
        </h2>
      </div>
      <p style="color:#565656; margin:8px;">Lay off the kiddie scripts and pay attention to the gaping hole that is your love life.</p>
    </div>
  </body>
</html>
