<!-- templates/404.html -->

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>whoops!</title>
  </head>
  <body>
    <div style="width:630px; height:130px; background:white; border:2px solid; color:#FFA826; border-radius:6px; margin: auto; position:absolute; top:0; left:0; right:0; bottom:0; font-family:arial;">
      <div style="text-align:center; height:40px; background:#FFA826; color:white; padding:1px 15px 10px;">
        <h2 style="margin-top:10px;">
          OI! That's forbidden, mate! (403)
        </h2>
      </div>
      <p style="color:#565656; margin:8px;">While the server respects you as a human being, it has no tolerance for your funny antics. Trying to break in here like we were all born yesterday *SMH*</p>
    </div>
  </body>
</html>
