<!-- templates/404.html -->

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>whoops!</title>
  </head>
  <body>
    <div style="width:630px; height:130px; background:white; border:2px solid; color:#FFA826; border-radius:6px; margin: auto; position:absolute; top:0; left:0; right:0; bottom:0; font-family:arial;">
      <div style="text-align:center; height:40px; background:#FFA826; color:white; padding:1px 15px 10px;">
        <h2 style="margin-top:10px;">
          HURRR-DE-HURRR! Page Not Found (404)
        </h2>
      </div>
      <p style="color:#565656; margin:8px;">This page does not exist yet, so you're probably living in the future or something.</p>
      <p style="color:#565656; margin:8px;">If this is somehow <i>not</i> the case, well, I dunno what to tell ya; you've probably made a typo up there in the address bar and you should certainly be ashamed of yourself.</p>
    </div>
  </body>
</html>
