<!-- templates/500.html -->

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>big whoops!</title>
  </head>
  <body>
    <div style="width:630px; height:130px; background:white; border:2px solid; color:#FFA826; border-radius:6px; margin: auto; position:absolute; top:0; left:0; right:0; bottom:0; font-family:arial;">
      <div style="text-align:center; height:40px; background:#FFA826; color:white; padding:1px 15px 10px;">
        <h2 style="margin-top:10px;">
          YAARGH! Server caught a bad one (404)
        </h2>
      </div>
      <p style="color:#565656; margin:8px;">This is clearly either the dev or PythonAnywhere's fault.</p>
      <p style="color:#565656; margin:8px;">We should probably be ashamed of ourselves just like you were that time when you made that awful typo in the address bar....</p>
    </div>
  </body>
</html>
